TARGET_NAME         = Dialog2

SOURCES             = CLIProxy.mm Dialog2.mm OptionParser.mm TMDCommand.mm Commands/**/*.mm
CP_Resources        = English.lproj @tm_dialog2
CP_InfoPlist        = Info.plist

BUNDLE_EXTENSION    = tmplugin
LN_FLAGS           += -bundle

FRAMEWORKS          = Cocoa WebKit Quartz
